{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

	<title>{% block title %}{% endblock %} | draw</title>


</head>

<body class="animsition">

	{% include 'base/header.html' %}

	<div class="">
		{% block content %}{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

	{% block js %}{% endblock %}
	{% block css %}{% endblock %}

	<script src="https://cdn.jsdelivr.net/npm/fabric@4.5.1/dist/fabric.min.js"></script>
	<script src="{% static 'js/index.js' %}"></script>
	{% static 'js/index.js' %}
</body>



</html>